@tailwind base;
@tailwind components;
@tailwind utilities;

.background {
  background-image: url('/background.jpg');
}

.heading {
  display: flex;
  width: auto;
  height: 97px;
  flex-direction: column;
  flex-shrink: 0;
  line-height: normal;
}

.desc {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.button_about {
  color: #FFF;
  font-size: 28px;
  font-style: normal;
  font-weight: 450;
  line-height: normal;

  width: 323px;
  height: 64px;
  flex-shrink: 0;

  border-radius: 20px;
  background: rgba(207, 90, 57, 0.3);
}

.button_exp_projects {
  color: #FFF;
  font-size: 28px;
  font-style: normal;
  font-weight: 450;
  line-height: normal;

  width: 323px;
  height: 64px;
  flex-shrink: 0;

  border-radius: 20px;
  background: rgba(180, 180, 180, 0.20);
}

.imageportrait {
  border-radius: 300px;
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.25);
}
